<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>Register Form</h1>

    <form action="register" method="post" >
        <input placeholder="First Name" name="first_name" type="text">
        <br>
        <input placeholder="Last Name" name="last_name" type="text">
        <br>
        <input placeholder="Username" name="username" type="text">
        <br>
        <input placeholder="Email" name="email" type="email">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="login">Go back to login page</a>

</body>
</html>